*,
*::after
*::before{
 box-sizing: border-box;
}

@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
    url('../fonts/balqis.woff') format('woff');
 font-weight: 300;
 font-style: normal;
 font-display: swap;

}
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
 font-weight: 300;
 font-style: italic;
 font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Regular.woff') format('woff');
 font-weight: 400;
 font-style: normal;
 font-display: swap;
}

ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    color: black;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-section{
    margin: 200px auto;
    max-width: 1920px;
}
.title{
    font-size: 96px;
line-height: 128px;
color: #E2AB3F;
font-family: 'balqis';
font-weight: 300;
margin-bottom: 100px;
}
.title span{
font-size: 24px;
line-height: 28px;
color: #000000;
font-family: 'RobotoCondensed-LightItalic';
display: block;
margin-top: -30px;


}
.header{
    background-image: url('../images/header-bg.jpg');
height: 100vh;
background-repeat: no-repeat ;
background-size: cover;
background-position: bottom center;
}
.header_top{
    display:flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}
.menu_list-item{
    display: inline-block;
}
.menu_list-item + .menu_list-item{
    margin-left: 52px;
}
.menu_list-link:hover{
    text-decoration: underline;
}
.header_phone{
    padding-left: 40px ;
    position: relative;
}
.header_phone::before{
    content: "";
    position: absolute;
    background-image: url('../images/phone-icon.svg');
    width: 30px;
    height: 30px;
    left: 0;
}
.header_title{
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'balqis';
    font-weight: 300;
}
.header_title span{
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -66px;
    margin-right: 80px;

}
.fairy-tail__slider{
width: 50%;
}
.slick-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.slick-prev{
left: 0;
}
.slick-next{
right: 0;
}
.fairy-tail_inner{
    position: relative;
}
.fairy-tail_container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fairy-tail_body{
    width: 45%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.fairy-tail_body-title{
    font-family: 'RobotoCondensed-Regular';
}
.fairy-tail_text{
    padding: 10px 0;
}
.fairy-tail_title span{
    margin-left: 185px;
}
.our-trip_slider{
    width: 50%;
    margin-left: auto;
}
.our-trip_inner{
    position: relative;
}
.our-trip_container{
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.our-trip_title span{
    margin-left: 240px;
}
.our-trip_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}
.our-trip_list{
margin: 5px 0;
font-size: 24px;
line-height: 28px;
}
.our-trip_list :first-child{
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';
}
.our-trip_btn{
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #E2AB3F;
    padding: 11px 53px;
}
.our-trip_content{
    width: 50%;
    padding-right: 55px;
}
.hotel_title span{
    margin-left: 120px;
}
.hotel_inner{
    display: flex;
}
.hotel_images{
    margin-right: 100px;

}
.hotel_text{
    margin-bottom: 20px;
}
.hotel_gallery{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel_gallery a{
    margin-top: 50px;
}
.price_inner{
    display: flex;
}

.price_on-title,
.price_off-title{
    line-height: 28px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: 'RobotoCondensed-Regular'; 
}
.price_on{
    margin-right: 70px;
    width: 530px;
}
.price_list-item{
    margin-bottom: 20px;
}
.price{
    background-image: url(../images/price-bg.png);
    background-repeat: no-repeat;
    background-position: center right 20% ;
}
.contacts_inner{
    display: flex;
    justify-content: space-between;

}
.contacts_content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contacts_date,
.contacts_price{
    font-family: 'balqis';
    font-size: 96px;
    color: #E2AB3F;
    line-height: 100px;
    font-weight: 300;
    
}
.contacts_price {
    margin-left: 120px;
}
.contacts_date{
    margin-bottom: 20px;
}
.contacts_date span,
.contacts_price span{
    display: block;
    line-height: 28px;
    font-size: 24px;
    color: black;
    font-family: 'RobotoCondensed-Light';
    margin-top: -10px;
    margin-left: 205px;
}
.contacts_form{
    max-width: 383px;
    margin: 0 auto;
}
.contacts_form_title{
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'RobotoCondensed-Regular'; 
}
.contacts_form-input{
    border: 1px solid #E2AB3F;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'RobotoCondensed-Light'; 

}
.contacts_form-input::placeholder{
    color: #000000;
}
.contacts_form-btn{
    font-family: 'RobotoCondensed-Light'; 
    font-size: 23px;
    line-height: 28px;
    text-transform: uppercase;
    border: 1px solid #E2AB3F;
    background-color: transparent;
    padding: 11px 45px;
    cursor: pointer;
   
}
.footer{
    background-image: url(../images/footer-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 96px;
    background-size: cover;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text{
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';
}
.footer_contacts{
    width: 356px;
    height: 527px;
    background-image: url(../images/footer-contact-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    

}
.footer_contacts-title{
    padding-top: 50px;
    font-size: 86px;
line-height: 115px;
color: #E2AB3F;
font-family: 'balqis';
margin-bottom: 50px;
}
.footer_phone,
.footer_email{
display: inline-block;
padding-left: 40px;
position: relative;
}
.footer_phone::before,
.footer_email::before{
content: "";
position: absolute;
width: 30px;
height: 30px;
left: 0;
top: -5px;
}
.footer_phone::before{
background-image: url(../images/footer-phone-icon.svg );
}
.footer_email::before{
    background-image: url(../images/footer-email-icon.svg );

}
.footer_phone{
    margin-bottom: 20px;
}
.footer_social{
    margin-top: 38px;
}
.footer_social a{
    margin: 0 7px;
}


@media (max-width: 1240px ) {
    .header_title{
        padding-top: 120px;
        font-size: 180px;
        line-height: 220px;
    }
    .header_title span{
        font-size: 50px;
        margin-top: -50px;
    } 
 }
  @media (max-width: 991px){
      .page-section{
         margin: 100px 0;
      }
      .fairy-tail_container,
     .our-trip_container{
      position: static;
      }
      .fairy-tail__slider{
          width: 100%;
      }
      .fairy-tail_body{
          width: 100%;
          padding-left: 0;
      }   
  }
  @media (max-width: 840px ) {
    .header_title{
        padding-top: 100px;
        font-size: 120px;
        line-height: 150px;
    }
    .header_title span{
        font-size: 30px;
        margin-top: -44px;
    } 
    .header_top{
        font-size: 20px;
        line-height: 24px;
    }
    .header_phone::before{
        width: 25px;
        height: 25px;
        background-size: cover;
    }
 }
  @media (max-width: 600px ){
    .header_top{
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu{
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
    }
    .header_title{
        font-size: 80px;
        line-height: 120px;
    }
    .header_title span{
        font-size: 22px;
        margin-top: -46px;
        margin-right: 15px;
    }
    .fairy-tail_item img{
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }
    .page-section{
        margin: 50px 0;
    }
    .title{
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
    .fairy-tail_title span{
        margin-left: 110px;
    }
}
 @media (max-width: 370px){
   .header_title{
       font-size: 60px;
       line-height: 100px;
   }
   .header_title span{
       font-size: 18px;
       margin-right: 0px;
   }
   .menu_list-item + .menu_list-item{
       margin-left: 18px;
   }
   .title{
       font-size: 50px;
   }
   .title span{
       font-size: 20px;
   }
   .fairy-tail_title span{
    margin-left: 90px;
}
}